{% extends 'base.html.twig' %}

{% block title %}Série {% endblock %}

{% block body %}
<div class="bg-primary mt-4 rounded container">
    <h1 class="text-light mt-5 pt-2 text-center page-title">Toutes les séries de la catégorie {{ category.name }} : </h1>
    {% for program in programs %}
	<div class="row mx-auto">
  <div class="col-12 mt-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ program.id }} / {{ program.title }}</h5>
        <p class="card-text text-dark mb-5">{{ program.synopsis }}</p>
        <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>

		</div>
      </div>
    </div>
  </div>
	{% else %}
		<div>
        <h2>Aucune série trouvée.</h2>
	{% endfor %}

    <a href="{{ path('category_index') }}">
        Retour aux catégories
    </a>

    </div>
{% endblock %}