{% extends 'base.html.twig' %}


{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.synopsis }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
        </div>
        {% for episode in episodes %}
            <div class="row mx-auto">
                <div class="col-12 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ episode.id }} / {{episode.number }}</h5>
                            <p class="card-text text-dark mb-5">{{ episode.synopsis }}</p>
                            <a >Voir la fiche episode</a>

                         </div>
                    </div>
             </div>
            </div>
        {% else %}
            
            <h2>Aucun épisode trouvé.</h2>
        {% endfor %}


    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>





{% endblock %}